# Environment variables used to assist in the SSO Alert System
# Change all variables that say CHANGE ME and rename file to .env

#######################################################################################################

# Site Settings

# Secret key for Django, this should be unique for each instance deployed. (REQUIRED)
SECRET_KEY=CHANGEME

# URL to access website, change these values if you wish to access from a different machine.
SITE_URL=https://localhost:8080
SITE_DOMAIN_NAME=localhost

DEBUG=True
#######################################################################################################

# Database Credentials/Settings (REQUIRED)

# If a postgres database is used uncomment the following:
# DATABASE_NAME=CHANGEME
# DATABASE_USER=CHANGEME
# DATABASE_PASSWORD=CHANGEME
# DATABASE_HOST=CHANGEME
# DATABASE_PORT=5432
# USE_POSTGRES=True

# If a sqlite database is used uncomment the following:
# DATABASE_PATH=/CHANGEME/CHANGEME.sqlite3
# USE_POSTGRES=False

#######################################################################################################

# Email Credentials/Settings

# Settings to send emails:
# SERVER_EMAIL=CHANGEME@ME.COM.AU
# EMAIL_HOST=CHANGEME.ME
# EMAIL_FROM=CHANGEME@ME.COM.AU
# EMAIL_PORT=465

# If you want to send emails via SMTP uncomment the following:
# USE_SMTP=True

#######################################################################################################

# ANU 2.3m Credentials/Settings

# This user needs access to the proposals that wish to be controlled.
# Other users add this user as a Co-observer via Lens.
# For a stand-alone installation this can just be your details. (REQUIRED)
2M3_USERNAME=2.3mUsername(CHANGEME)
2M3_PASSWORD=2.3mPassword(CHANGEME)

# The base URL for the 2.3m system.
2M3_SITE=https://muggy.anu.edu.au/aocs/

#######################################################################################################

# Fink Broker Credential/Settings
# https://fink-broker.readthedocs.io/en/latest/services/tom_fink/
# If fink alert streams are utilised this should be set to True
# and variables starting with FINK uncommented.
USE_FINK=False

# IF USE_FINK is True the following are (REQUIRED) and need to be uncommented.
# FINK_CREDENTIAL_USERNAME=FinkUsername(CHANGEME)
# FINK_CREDENTIAL_GROUP_ID=FinkGroupID(CHANGEME)
# FINK_CREDENTIAL_URL=FinkLivestreamURL(CHANGEME)
# FINK_MAX_POLL_NUMBER=2
# FINK_TIMEOUT=10

#######################################################################################################
