{% extends 'tom_common/base.html' %}
{% load bootstrap4 static crispy_forms_tags observation_extras targets_extras %}
{% block title %}Submit Observation{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
<link rel="stylesheet" href="{% static 'accounts/style/styles.css' %}">
{% endblock %}
{% block content %}

<h3>Submit an observation to {{ form.facility.value }} for <a href="{% url 'targets:detail' pk=target.id %}">{{target.name}}</a>
</h3>
{% if missing_configurations %}
<div class="alert alert-danger">Some {{ form.facility.value }} Facility settings ({{ missing_configurations }}) are not
    configured.
</div>
{% endif %}
{% if target.type == 'SIDEREAL' %}
<div class="row">
    <div class="col">
        {% observation_plan target form.facility.value %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        {% target_data target %}
        <h4>Lunar Distance</h4>
        {% moon_distance target width=None %}
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs" id="tabs">
            {% for observation_type, observation_form in observation_type_choices %}
            <li class="nav-item">
                <span class="nav-link {% if observation_type == active or not active and forloop.first %}active{% endif %}"
                      data-target="#{{ observation_type }}" data-toggle="tab">
                    {{ observation_type|display_obs_type }}
                </span>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content observation-form">
            {% for observation_type, observation_form in observation_type_choices %}
            <div class="tab-pane {% if observation_type == active or not active and forloop.first %}active{% endif %}"
                 id="{{ observation_type }}">
                {{ form|as_crispy_errors }}
                {% crispy observation_form %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const currentUrl = window.location.href;
    if (currentUrl.includes('/chains/')) {
        document.getElementById('submit-id-submit').style.display = 'none';
    } else {
        document.getElementById('submit-id-add_to_chain').style.display = 'none';
    }
</script>
<script>
    // setting ra
    document.getElementById('id_ra_0').value = document.getElementById('ra_sexigesimal').textContent;
    // setting dec
    document.getElementById('id_dec_0').value = document.getElementById('dec_sexigesimal').textContent;
    if (document.getElementById('id_pmot_0').value === "") {
        document.getElementById('id_pmot_0').value = '0 0';
    }

    // Get the elements and time
    let userInput = document.getElementById("id_userdefid");
    let targetName = document.getElementById("target_name").textContent.trim();
    let currentTime = new Date();

    let formattedTime =
            currentTime.getFullYear() +
            padZero(currentTime.getMonth() + 1) +
            padZero(currentTime.getDate()) +
            padZero(currentTime.getHours()) +
            padZero(currentTime.getMinutes()) +
            padZero(currentTime.getSeconds());

    userInput.value = targetName + "_" + formattedTime;

    function padZero(num) {
        return (num < 10 ? '0' : '') + num;
    }

</script>
<script>
    // WIP of adding the check button
    const parentDiv = document.getElementById("div_id_userdefid");

    const button = document.createElement("button");
    button.textContent = "Check Uniqueness";
    button.type = "button";
    button.id = "check_button";
    button.classList.add("btn", "btn-primary");

    // need to add code from where to check the uniqueness.
    // right now not adding the button
    // parentDiv.appendChild(button);

</script>
{% endblock %}