<form class="form-row" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        {% csrf_token %}
        {% include 'accounts/snippets/messages.html' %}
        {% include 'accounts/snippets/render_field.html' %}
        <div class="row text-md-right">
            <div class="buttons col-md-12 text-md-right">
                <input class="btn btn-success" type="submit" tabindex="100"
                       value="{% if submit_text %}{{ submit_text }}{% else %}Submit{% endif %}"/>
            </div>
        </div>
    </div>
</form>
