{% if user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfileLink"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} <i
            class="fas fa-user-cog"></i></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownProfileLink">
        <a class="dropdown-item" href="{% url 'profile' %}">Update Profile <i
                class="fas fa-user-edit"></i></a>
        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password <i
                class="fas fa-key"></i></a>
    </div>
</li>
<li>
    <a class="btn btn-outline-success" title="logout" href="{% url 'logout' %}">Logout</a>
</li>
{% else %}
    <li class="nav-item">
        <a class="btn btn-outline-success" title="logout" href="{% url 'register' %}">Registration</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-success" title="logout" href="{% url 'login' %}">Login</a>
    </li>
{% endif %}