{% extends 'tom_common/base.html' %}
{% load static %}

{% block info-bar %}
Verification
{% endblock info-bar %}

{% block page_header %}
<h2>SSO ALERT System Registration submission</h2>
<hr/>
{% if type == 'registration_submitted' %}Registration submitted {% endif %}
{% endblock page_header %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'accounts/style/styles.css' %}">
{% endblock %}

{% block content %}
{% if type == 'registration_submitted' %}
<p>Dear {{ data.first_name }} {{ data.last_name }},</p>
<p>Thanks for registering with us.</p>
<p>The account has been activated in the system.</p>
<p>You should now be able to log in the system via the <a href="{% url 'login' %}" id="login">Login</a> page.</p>
{% endif %}
{% endblock content %}
