adc-streaming==2.5.0
alabaster==1.0.0
asdf==3.0.1
asdf-astropy==0.5.0
asdf-coordinates-schemas==0.2.0
asdf-standard==1.0.3
asdf-transform-schemas==0.4.0
asdf-unit-schemas==0.1.0
asdf-wcs-schemas==0.3.0
asgiref==3.7.2
asn1crypto==1.5.1
astroplan==0.9.1
astropy==5.3.4
astroquery==0.4.6
asttokens==3.0.0
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.6.0
babel==2.17.0
beautifulsoup4==4.12.3
bson==0.5.10
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
confluent-kafka==2.10.1
crispy-bootstrap4==2023.1
cryptography==45.0.4
decorator==5.2.1
dj-database-url==3.0.0
Django==4.2.9
django-bootstrap4==23.4
django-contrib-comments==2.2.0
django-crispy-forms==2.1
django-dramatiq==0.11.6
django-extensions==3.2.3
django-filter==23.5
django-gravatar2==1.4.4
django-guardian==2.4.0
django-htmx==1.23.1
django-stubs-ext==5.2.1
django-tasks==0.6.1
djangorestframework==3.15.0
docutils==0.21.2
dramatiq==1.15.0
executing==2.2.0
fastavro==1.9.4
fink-client==9.0
fits2image==0.4.7
gcn-kafka==0.3.3
gevent==23.9.1
greenlet==3.0.3
gunicorn==20.0.4
gwcs==0.20.0
hop-client==0.11.1
html5lib==1.1
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
importlib_resources==6.4.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.3.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
keyring==24.3.0
Markdown==3.5.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
more-itertools==10.2.0
ndcube==2.2.0
numpy==1.26.4
packaging==23.2
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
plotly==5.18.0
pluggy==1.6.0
prometheus-client==0.19.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pyerfa==2.0.1.1
Pygments==2.19.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
pyvo==1.5
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
roman-numerals-py==3.1.0
scipy==1.11.4
scramp==1.4.5
SecretStorage==3.3.3
semantic-version==2.10.0
setuptools==80.9.0
six==1.16.0
snowballstemmer==3.0.1
soupsieve==2.5
specutils==1.12.0
Sphinx==8.2.3
sphinx_design==0.6.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.4.4
stack-data==0.6.3
tenacity==8.2.3
tom-alertstreams==1.0.2
tom-registration==1.0.1
toml==0.10.2
tomtoolkit==2.24.5
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.9.0
urllib3==2.1.0
watchdog==3.0.0
watchdog-gevent==0.1.1
wcwidth==0.2.13
webencodings==0.5.1
xmltodict==0.14.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
